# port selected for running this application , default 3000
PORT=
#optional if dont want to run this app with any database module / feature
IS_USE_DB=false

DB_USER=postgres
DB_PASS=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=my_app_db

DATABASE_URL=postgres://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_NAME

#optional if dont want to run this app with any log forward to file in ./logs/YYYY-MM-DD-debug.log
IS_FORWARD_LOG_TO_FILE=false

#Cache Manager , default using app memory , optional using redis
IS_USE_REDIS=false
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWD=
# default redis db = 0
REDIS_DB=